---

interface Props {
  // can't take it from Referer header like Astro docs suggests, because
  // link preload makes it so Referer is the page where preload started (/en)
  // not page that renders CommentForm (/en/posts/{post-slug})
  loginRedirectUri: string;
}

const { loginRedirectUri } = Astro.props;

const url = new URL(loginRedirectUri);

const loginUrl = new URL("/api/login/github", Astro.url.origin);
loginUrl.searchParams.set("redirect_uri", url.href);

const { user } = Astro.locals;
---

<a href={loginUrl.toString()}
    data-astro-prefetch="false">
  click me, {user?.username ?? 'user'}
</a>
