---

const { href } = Astro.url;

// biome-ignore lint/style/noNonNullAssertion: we know Astro.site is defined since site is present in config
const loginUrl = new URL("/api/login/github", Astro.site!.origin);
loginUrl.searchParams.set("redirect_uri", href);
---

<a href={loginUrl.toString()} data-astro-prefetch="false">click me</button>
