---

const { href } = Astro.url;

const loginUrl = new URL("/api/login/github", Astro.url.origin);
loginUrl.searchParams.set("redirect_uri", href);
---

<a href={loginUrl.toString()} data-astro-prefetch="false">click me</button>
