---
import { getRelativeLocaleUrl } from "astro:i18n";
import { createTranslate } from "../lib/i18n";
import Header from "./Header.astro";
import NavLink from "./NavLink.astro";
import Button from "./ui/Button.astro";
import Icon from "./ui/Icon.astro";

const t = createTranslate(Astro.currentLocale);

const navLinksMeta = [
  {
    label: t("nav.about"),
    // biome-ignore lint/style/noNonNullAssertion: lint/style/noNonNullAssertion: we know Astro.currentLocale is defined since site is present in config
    url: getRelativeLocaleUrl(Astro.currentLocale!, "/about"),
  },
  {
    label: t("nav.posts"),
    // biome-ignore lint/style/noNonNullAssertion: lint/style/noNonNullAssertion: we know Astro.currentLocale is defined since site is present in config
    url: getRelativeLocaleUrl(Astro.currentLocale!, "/posts"),
  },
] as const;
---

<va-nav>
	<nav
		data-testid="desktop-nav"
		class="hidden lg:flex"
	>
		<menu class="flex gap-3 md:gap-4 lg:gap-6">
			{navLinksMeta.map((navLink) => (
				<NavLink href={navLink.url}>
					{navLink.label}
				</NavLink>
			))}
		</menu>
	</nav>

	<Button
		aria-label="mobile-nav-open"
		class="lg:hidden"
	>
		<Icon glyph="menu" />
	</Button>

  <template>
    <div
      id="mobile-nav"
      class="fixed top-0 left-0 z-10 h-dvh w-dvw backdrop-blur-sm backdrop-filter transition duration-300 -translate-y-full"
    >
      <div class="mx-auto flex h-full flex-col sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
        <Header>
          <Button aria-label="mobile-nav-close">
            <Icon glyph="close" />
          </Button>
        </Header>

        <nav
          data-testid="mobile-nav"
          class="flex flex-1 flex-col justify-center"
        >
          <menu class="flex flex-col gap-3 px-6">
            {navLinksMeta.map((navLink) => (
                <NavLink href={navLink.url}>
                {navLink.label}
              </NavLink>
            ))}
          </menu>
        </nav>
      </div>
    </div>
  </template>
</va-nav>

<script>
  customElements.define("va-nav", class extends HTMLElement {
    #mobileNavTemplateEl: HTMLTemplateElement | null = null;
    #mobileNavEl: HTMLElement | null = null;
    #openMobileNavButtonEl: HTMLButtonElement | null = null;
    #closeMobileNavButtonEl: HTMLButtonElement | null = null;

    connectedCallback() {
      this.#openMobileNavButtonEl = this.querySelector("button[aria-label='mobile-nav-open']");
      if (!this.#openMobileNavButtonEl) {
        throw new Error("Can't find mobile nav open button");
      }

      this.#openMobileNavButtonEl.addEventListener("click", this.#openMobileNav);

      this.#mobileNavTemplateEl = this.querySelector("template");
      if(!this.#mobileNavTemplateEl) {
        throw new Error("Can't find mobile nav template");
      }

      const clone = this.#mobileNavTemplateEl.content.cloneNode(true);
      document.body.appendChild(clone);

      this.#mobileNavEl = document.querySelector("#mobile-nav");
      if(!this.#mobileNavEl) {
        throw new Error("Can't find mobile nav");
      }

      this.#closeMobileNavButtonEl = this.#mobileNavEl.querySelector("button[aria-label='mobile-nav-close']");
      if (!this.#closeMobileNavButtonEl) {
        throw new Error("Can't find close modal button");
      }

      this.#closeMobileNavButtonEl.addEventListener('click', this.#closeMobileNav);
      window.addEventListener("resize", this.#closeMobileNavOnResize);
      document.addEventListener("astro:before-preparation", this.#closeMobileNav);
    }

    disconnectedCallback() {
      this.#openMobileNavButtonEl?.removeEventListener("click", this.#openMobileNav);
      this.#closeMobileNavButtonEl?.removeEventListener('click', this.#closeMobileNav);
      window.removeEventListener('resize', this.#closeMobileNavOnResize)
      document.removeEventListener("astro:before-preparation", this.#closeMobileNav);
    }

    #openMobileNav = () => {
      this.#mobileNavEl?.classList.remove("-translate-y-full");
      this.#mobileNavEl?.classList.add("translate-y-0");
    }

    #closeMobileNavOnResize = () => {
      const width = document.documentElement.clientWidth;
      if (width < 1024) {
        return;
      }

      this.#closeMobileNav()
    }

    #closeMobileNav = () => {
      this.#mobileNavEl?.classList.add("-translate-y-full");
      this.#mobileNavEl?.classList.remove("translate-y-0");
    }
  });
</script>
