---
import { Link, type LinkProps } from "./ui/link";

export type Props = Pick<LinkProps, "href">;

const { href } = Astro.props;
---
<li class="self-center">
	<Link
		href={href}
		className="p-3"
	>
		<slot/>
	</Link>
</li>
