---
import { getRelativeLocaleUrl } from "astro:i18n";
import { createTranslate } from "../lib/i18n";
import { Divider } from "./ui/divider";
import { Link } from "./ui/link";
import { Text } from "./ui/text";
import { Title } from "./ui/title";

const t = createTranslate(Astro.currentLocale);
---

<div class="flex flex-col gap-2">
	<Divider>
			<Title as="h3">{t('stay-up-to-date.title')}</Title>
	</Divider>

	<Text as="span">
    {t("stay-up-to-date.text.first-paragraph.before-rss-link")}
		<Link
			href={getRelativeLocaleUrl(Astro.currentLocale!, "/rss.xml")}
			target="_blank"
		>
      {t("stay-up-to-date.text.first-paragraph.rss-link")}
		</Link>
	</Text>

	<Text as="span">
    {t("stay-up-to-date.text.second-paragraph")}
	</Text>
</div>
