name: Digital Garden CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'apps/sofash/**'
      - 'apps/subs-savvy/**'
      - '.github/workflows/sofash.yml'
      - '.github/workflows/subs-savvy.yml'
      - 'biome.jsonc'
      - '.editorconfig'
      - '**/README.md'
      - 'tools'
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - 'master'
    paths-ignore:
      - 'apps/sofash/**'
      - 'apps/subs-savvy/**'
      - '.github/workflows/sofash.yml'
      - '.github/workflows/subs-savvy.yml'
      - 'biome.jsonc'
      - '.editorconfig'
      - '**/README.md'
      - 'tools'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        uses: ./.github/actions/setup

      - name: Lint
        run: npm run lint:ci

  ts:
    name: TS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        uses: ./.github/actions/setup

      - name: TS
        run: npm run ts:check --workspace digital-garden

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - ts
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Build App Bundle
        run: npm run build --workspace digital-garden

      - name: Upload App Bundle
        uses: actions/upload-artifact@v4
        with:
          name: bundle
          path: apps/digital-garden/dist
          retention-days: 30
          # to include .assetsignore file that is required for proper deployment to cloudflare
          include-hidden-files: true

  e2e:
    name: E2E
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Run E2E Tests
        uses: ./.github/actions/e2e
        with:
          workspace: 'digital-garden'

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - lint
      - ts
      - build
      - e2e
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'preview'))
    concurrency:
      group: digital-garden-deploy
      cancel-in-progress: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Download App Bundle
        uses: actions/download-artifact@v4
        with:
          name: bundle
          path: apps/digital-garden/dist

      - name: Deploy to Production
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        working-directory: apps/digital-garden
        run: npm run deploy:production
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Deploy to Preview
        if: github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'preview')
        working-directory: apps/digital-garden
        run: npm run deploy:preview
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
