name: Sofash CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths-ignore:
      - "apps/subs-savvy/**"
      - "apps/digital-garden/**"
      - "apps/sofash/docs/**"
      - ".github/workflows/digital-garden.yml"
      - ".github/workflows/subs-savvy.yml"
      - "biome.jsonc"
      - ".editorconfig"
      - "**/README.md"
      - "tools"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        uses: ./.github/actions/setup

      - name: Lint
        run: npm run lint:ci

  ts:
    name: TS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        uses: ./.github/actions/setup

      - name: TS
        run: npm run ts:check --workspace sofash

  test:
    name: Test
    runs-on: ubuntu-latest
    needs:
      - ts
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        uses: ./.github/actions/setup

      - name: Run Unit Tests
        run: npx turbo test --filter=...sofash

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - ts
    outputs:
      bundle-cache-hit: ${{ steps.cache-bundle.outputs.cache-hit }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Build App Bundle
        run: npm run build --workspace sofash

      - name: Upload App Bundle
        if: steps.cache-bundle.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v4
        with:
          name: bundle
          path: apps/sofash/dist/
          retention-days: 30

  migrate:
    name: Migrate
    runs-on: ubuntu-latest
    needs:
      - test
      - build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Run migrations
        run: npm run migrate:prod --workspace sofash
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - lint
      - ts
      - test
      - build
      - migrate
    if: |
      github.event_name == 'push' &&
      github.ref == 'refs/heads/master'
    concurrency:
      group: sofash-deploy
      cancel-in-progress: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & NPM
        id: setup
        uses: ./.github/actions/setup

      - name: Download App Bundle
        uses: actions/download-artifact@v4
        with:
          name: bundle
          path: apps/sofash/dist/

      - name: Deploy Bundle
        run: npm run deploy --workspace sofash
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
